{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/menu/" method="POST">
        <fieldset>
            <legend>Add item</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="enter name"
                class="form-control"
            >
            <label class="form-label">Price:</label>
            <input 
                type="number" 
                name="price" 
                placeholder="enter pirce" 
                class="form-control"
            >
            <label class="form-label">Description:</label>
            <input 
                type="text" 
                name="description" 
                class="form-control"
            >
            <label class="form-label">Category:</label>
            <input 
                type="text" 
                name="category" 
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="add to cart" class="btn btn-success">
    </form>
</div>
{% endblock %}
{%- comment -%} not needed that much {%- endcomment -%}