{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">cart</h2>
    <div class="row">
        {% for cart in carts %}
        <div class="card" id="cart-card" style="width: 18rem;">
            <h5 class="card-header">{{ cart.title }}</h5>
            <div class="card-body">
                {%- comment -%} <p class="card-text">
                    owner: {{ cart. }}
                </p> {%- endcomment -%}
                <h5 class="card-title">
                    to stay?:
                    {%if cart.toStay%}
                     yes 
                     {%else%}
                     no 
                     {%endif%}
                </h5>
                {%- comment -%} something here need to be done i guess {%- endcomment -%}
                

                <a href="cart/{{ cart.id }}" class="btn btn-info">
                    View {{ cart.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

