{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/cart" method="POST">
        <fieldset>
            <legend>Create New items</legend>
            
            <label class="form-label">to stay:</label>
            <input 
                type="checkbox" 
                name="toStay" 
                class="form-check-input"
            >
            {%- comment -%} <input 
                type="text" 
                name="items" 
                class="form-control"
            >
             {%- endcomment -%}
        </fieldset>
        <input type="submit" value="add" class="btn btn-success">
    </form>
</div>
{% endblock %}
{%- comment -%} not needed {%- endcomment -%}