{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            <h5 class="card-header">{{ cart.title }}</h5>
            <div class="card-body">
                </h5>
                <p>Delete order? </p>
                
        {%- comment -%} {% if cart.owner == userId %} {%- endcomment -%}
        <div class="btn-group">

            <a href="/cart/{{ cart.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/cart/{{ cart.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {%- comment -%} {% endif %} {%- endcomment -%}
    </article>
</div>
{% endblock %}

{%- comment -%} idk which user owns so commented out if statement for now {%- endcomment -%}