{% layout "layout.liquid" %}
{% block content %}

    <div id="contact-us-div">
        <h1>Contacts</h1>
        <img id="contact-us-img" src="https://media.cntraveler.com/photos/5a87302cfe6fd1553e242561/master/w_3600,h_2400,c_limit/Ipsento_Aaron-Bean_2018_Chciago_Ipsento3.jpg">
        <ul id="contact-us-ul">
            Our contact information:
            <li class="contact-us-li-items">Phone: <span class="contact-span">333-777-13-57</span></li>
            <li class="contact-us-li-items">Email:  <span class="contact-span">coffeeshop@gmail.com</span></li>
            <li class="contact-us-li-items">Adress: <span class="contact-span">Donut street 777</span></li>
        </ul>
        <p id="contact-us-text">
            You can also follow us on: <span class="contact-span">Instagram -www.instagram.com/coffeeshop </span> and
             <span class="contact-span"> Facebook - www.facebook.com/coffeeshop</span>
        </p>
        
    </div>
    

    <footer class="footer"> 
        <span class="footer-info" >Phone number: &nbsp 333-777-13-57</span>Coffee Shop
        <span class="footer-info">Address: &nbsp Donut street 777</span>
     </footer>
{% endblock %}