{% layout "layout.liquid" %}
{% block content %}

    <div id="main-page-div">
        <h1 id="main-header">Taste a sip of perfection</h1>
         <img id="main-img" src="http://www.contemporist.com/wp-content/uploads/2019/09/modern-coffee-shop-cafe-interior-design-grey-wood-290919-734-01-800x533.jpg">
        <img id="img2" src="https://w0.peakpx.com/wallpaper/708/536/HD-wallpaper-coffee-time-bakery-coffee-brown-food-drinks.jpg">
        <img id="img3" src="https://image.khaleejtimes.com/?uuid=2feaa588-4fff-541f-b225-994682499ef3&function=cropresize&type=preview&source=false&q=75&crop_w=0.93513&crop_h=0.99999&x=0.03243&y=0&width=1200&height=675">
        <img id="img4" src="https://www.tastingtable.com/img/gallery/what-happens-to-your-body-when-you-drink-coffee-before-eating/l-intro-1651645259.jpg">
        <img id="img5" src="https://imgix.theurbanlist.com/content/article/a_list_images/metropolist/urban-garden-metropolist-21.jpg?auto=format,compress&w=520&h=390&fit=crop">
         <img id="img6" src="https://eatdrinkrabbit.com/wp-content/uploads/2022/06/Barista-Job.jpg">
    </div>
    <footer class="footer">
        <span class="footer-info" >Phone number: &nbsp 333-777-13-57</span>
        <span class="footer-info">Address: &nbsp Donut street 777</span>
    </footer>
{% endblock %}