{% layout "layout.liquid" %}
{% block content %}

    <h1>Welcome to Coffee Shop</h1>
    <div id="img-main-page">
         <img src="http://www.contemporist.com/wp-content/uploads/2019/09/modern-coffee-shop-cafe-interior-design-grey-wood-290919-734-01-800x533.jpg">
        <img src="">
    </div>

{% endblock %}