{% block content %}
  <nav class=" navbar navbar-expand-md  navbar-dark bg-dark">
    <div class="container-fluid " >
      {%- comment -%} <a href="/menu" class="navbar-brand">Menu</a> {%- endcomment -%}
       <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <ul class="dropdown-menu" aria-labelledby="book-dropdown">
    <li><a class="dropdown-item" href="/menu">Main Menu</a></li>
    <li><a class="dropdown-item" href="/aboutUs">About Us</a></li>
    <li><a class="dropdown-item" href="/contactUs">Contact Info</a></li>
  </ul>
</div>
      <a href="/" class="navbar-brand" id="main-page">Coffee-Shop</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% if loggedIn %}
        <a href="/examples/mine" class="nav-link text-light">Hello
          {{ username }}
        </a>
        <a href="/cart/mine" class="navbar-brand" id="cart">Cart</a>
          {%- comment -%} <a href="/examples" class="nav-link text-light">View All</a> {%- endcomment -%}
          <a href="/cart/new" class="nav-link text-light">New</a>
          {%- comment -%} <a href="/examples/mine" class="nav-link text-light">My Examples</a> {%- endcomment -%}
          <a href="/auth/logout" class="nav-link text-light">Log Out</a>
        {% else %}
          <a href="/auth/signup" class="nav-link text-light">Sign Up</a>
          <a href="/auth/login" class="nav-link text-light">Sign In</a>
        {% endif %}
      </div>
    </div>
  </nav>
  
{% endblock %}