body {
    background-color: rgb(205, 202, 202);
}
/*navbar*/
#navbarNav {
    justify-content: right;
}
#cart {
    padding: 1rem;
}
.nav-link {
    padding: 1rem;
}

/*menu dropdown btn*/
.show {
    background-color: rgb(42, 41, 41);
}
.dropdown-item {
    color: beige;
}
.dropdown-toggle {
    background-color: rgb(42, 41, 41);
}
.dropdown-toggle:hover {
    background-color: rgb(56, 54, 54);
}

/*this is home-page BUTTON*/
#main-page {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  padding: 7px;
  color: red;
  font-family: 'Marck Script', cursive;
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
  transition: 0.3s;
}
#main-page:hover {
    background-color: rgba(255,255,255,0.1);
}
/*nav bar right side buttons hover*/
.nav-link:hover {
    background-color: rgba(255,255,255,0.1);
}
#cart:hover {
    background-color: rgba(255,255,255,0.1);
}

/*menu*/
#menu-header {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
.menu-names {
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
.card {
    background-color: rgb(42, 41, 41);
    color: beige;
    margin: 10px;
    border-radius: 5%;
    width: 15rem;
    height: 3rem; 
    font-family: 'Marck Script', cursive;
    font-family: 'Poiret One', cursive;
    position: relative;
}
.card-body {
    display: flex;
    padding: 0;
}
.card-name {
    position: absolute;
    left: 5px;
    top: 4px;
    font-size: 1.7rem;
}
.card-price {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1.3rem;
}
.card-category-description {
    display: none;
}
.btn-info {
    background-color: beige;
    position: absolute;
    right: -60px;
    bottom: 5px;
    border-color: black;
}
.btn-info:hover {
    background-color: rgb(220, 196, 160);
    border-color: black;
    font-weight: bold;
}
.card-header {
    padding: 0px;
}
.row {
    display: block;
    transform: translateX(-50%);
    left: 50.5%;
    position: absolute;
}


/*main page*/
#main-page-div {
    background-color: rgb(255, 255, 255);
    max-width: 1100px;
    margin: auto;
    position: relative;
    text-align: center;
    
}
#main-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Marck Script', cursive;
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
    background-color: var(--bs-body-color);
    color: rgb(220, 196, 160);
    margin: 1px 3px 20px;
}
#main-img {
    margin-bottom: 2rem;
}
#img2 {
    width: 18rem;
    margin: 10px;
}
#img3 {
    width: 20rem;
    margin: 10px;
}
#img4 {
    width: 20rem;
    margin: 10px;
}
#img5 {
    width: 20.6rem;
    margin: 10px;
    padding-bottom: 30px;
}
#img6 {
    width: 23rem;
    margin: 10px;
    padding-bottom: 30px;
}
/*Footer line*/
.footer {
    position: inherit;
    bottom: 0px;
    width: 100%;
    height: 5rem;
    text-align: center;
    background-color: rgb(42, 41, 41);
    color: rgb(220, 196, 160);
    font-size: 1.7rem;
    padding-top: 20px;
    border-top: 3px solid rgb(220, 196, 160);;
    
}
.footer-coffee {
    font-family: 'Marck Script', cursive;
    font-family: 'Poiret One', cursive;
}

/*about us page*/
#about-us-div {
    text-align: center;
    height: 1300px;
    
}

#about-us-art {
    text-align: center;
    border-left: 3px double rgba(0, 0, 0, 0.3);
    border-right: 3px double rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: auto;
    position: relative;
    padding: 30px;
    background-color: rgb(248, 240, 240);
     
}
#about-us-header {
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poiret One', cursive;
}

#about-us-sub {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 40px 0 40px; 
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poiret One', cursive;
 } 
 
 #about-us-span { 
    background-color: rgb(248, 240, 240);
     padding:0px 10px; 
 }
 #about-us-text {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poiret One', cursive;
    
 }
 #about-us-img {
    height: 20rem;
    margin: 30px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3%;
}

/*contact us page*/

#contact-us-div {
    text-align: center;
    height: 1300px;
    font-size: 25px;
}
#contact-us-img {
    width: 55rem;
    margin: 30px;
}
#contact-us-ul {
    list-style: none;
}
.contact-span {
    font-weight: bold;
}









/* MENU IMAGES ----- */
.img-text {
    font-family: 'Marck Script', cursive;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
    font-weight: bold;
}
.menu-img {
    border: 2px solid rgb(42, 41, 41);
}
.menu-img-right {
    border: 2px solid rgb(42, 41, 41);
}

/* left side */
#img-2 {
    /* transform: translate(70px); */
}
#img-3 {
    
}
#img-4 {
    /* transform: translate(70px); */
}
#img-1 {
    
}

.menu-img {
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}
@media (max-width: 1024px) {
.menu-img {
    max-width: 10vw;
    
}
}
@media (max-width: 700px) {
    .menu-img {
    max-width: 0;
    margin: auto;
}
}
@media (max-width: 700px) {
    .img-text {
    display: none;
}
}
@media (max-width: 700px) {
    .menu-img {
    border-color: transparent;
}
}
@media (max-width: 700px) {
    .menu-img-right {
    border-color: transparent;
}
}
.first-img-div {
    position: relative!important;
    height: 100%;
    text-align: center;
    max-width: 130px;
    transform: translateX(-50%);
    margin-left: 25%;
}
@media (min-width: 1600px) {
    .first-img-div {
    margin-left: 30%;
}
}
@media (min-width: 2000px) {
    .first-img-div {
    margin-left: 35%;
}
}

.second-div {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 200px;
}

.third-div {
    position: relative!important;
    
}

/* right side */
#img-2-right {
    /* transform: translate(-70px); */
}
#img-3-right {
    
}
#img-4-right {
    /* transform: translate(-70px); */
}
#img-1-right {
    
}

.menu-img-right {
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}
@media (max-width: 1024px) {
.menu-img-right {
    max-width: 10vw;
    
}
}
@media (max-width: 700px) {
    .menu-img-right {
    max-width: 0;
    margin: auto;
}
}
@media (max-width: 700px) {
    .img-text-right {
    display: none;
}
}
.first-img-div-right {
    position: relative!important;
    height: 100%;
    text-align: center;
    max-width: 130px;
    margin-left: 70%;
    transform: translateX(50%);
}
@media (min-width: 1600px) {
    .first-img-div-right {
    margin-left: 65%;
}
}
@media (min-width: 2000px) {
    .first-img-div-right {
    margin-left: 60%;
}
}

.second-div-right {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 200px;
}

.third-div-right {
    position: relative!important;
    
}
